<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Search Coordinate</h2>
            <app-search-bar (onSelectedOption)="searchCodes($event)"></app-search-bar>
            <br>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Address: </strong>
                    <span *ngFor="let address of geocodes?.address_components">{{address.long_name}} </span>
                </li>
                <li class="list-group-item">
                    <strong>Longitude:</strong> {{geocodes?.geometry.location.lng}}
                </li>
                <li class="list-group-item"><strong>Latitude:</strong> {{geocodes?.geometry.location.lat}}
                </li>
            </ul>
        </div>
    </div>
</div>